$desktopMax: 1023px;
$desktopMin: 1024px;
$tapletMax: 1023px;
$tabletMin: 768px;
$mobileMaxWidth: 767px;

$mobileCoeff: calc(100vw / 390px);

@mixin desktop {
  @media (min-width: $desktopMin) and (max-width: $desktopMax) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tabletMin) and (max-width: $tapletMax){
    @content;
  }
}

@mixin mobile{
  @media (max-width: $mobileMaxWidth) {
    @content;
  }
}



.section-map {
  display: grid;
  grid-template-columns: 48% 1fr;
  grid-template-rows: 130px 1fr 90px;

  width: 100vw;
  height: 660px;

  @include mobile {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr calc(170px * $mobileCoeff);
    height: calc(590px * $mobileCoeff);
  }
}

.map-hint {
  grid-area: 1 / 1 / 2 / 2;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0px 0px 12.5vw 0px;
  background-color: #33cc99;
  font-family: "Nunito";
  color: white;

  @include mobile {
    display: none;
  }
}

.map-hint-header {
  margin: 0px 0px 5px 168px;
  font-size: 36px;
  font-weight: 600;
}

.map-hint-body {
  margin: 5px 0px 0px 168px;
}

.map-container {
  grid-area: 1 / 1 / 4 / 3;

  @include mobile {
    grid-area: 1 / 1 / 2 / 2;
  }
}

.map-control-base {
  width: 348px;
  height: 40px;
  border: 0px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(37, 47, 52, 0.14);

  @include mobile {
    width: calc(330px * $mobileCoeff);
    height: calc(30px * $mobileCoeff);
    border-radius: calc(133px * $mobileCoeff);
    box-shadow: none;

  }
}

.map-controls {
  grid-area: 3 / 1 / 4 / 3;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;

  @include mobile {
    grid-area: 2 / 1 / 3 / 2;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    // padding-top: calc(15px * $mobileCoeff);
    // padding-bottom: calc(15px * $mobileCoeff);
    background-color: #462D71;
  }
}

.control {
  @extend .map-control-base;

  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 15px;
  padding: 0px;
  background-color: white;
  font-family: "Nunito";
  font-size: 20px;

  @include mobile {
    margin: 0px;
    font-size: calc(17px * $mobileCoeff);
    font-weight: 700;
  }

}

.control.active {
  color: white;
}

.control > img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  cursor: pointer;
  pointer-events: none;

  @include mobile {
    width: calc(14px * $mobileCoeff);
    height: calc(14px * $mobileCoeff);
    margin-left: calc(8px * $mobileCoeff);
  }
}

.control > span {
  margin: auto;
  cursor: pointer;
  pointer-events: none;
}

.control.active > img {
  visibility: hidden;
}

button[data-type="warehouse"].control.active {
  background: #f84777;
}

button[data-type="city"].control.active {
  background: #33cc99;
}

button[data-type="soon"].control.active {
  background: #838383;
}

.map-search {
  @extend .map-control-base;

  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;

}

// .map-search.desktop {
//   @include mobile {
//     display: none !important;
//   }
// }

// .map-search.mobile {
//   display: none;

//   @include mobile {
//     display: flex;
//   }
// }

.map-search > input {
  flex-grow: 1;
  height: 100%;
  border: 0px;
  border-radius: inherit;
  margin-right: 14px;
  padding: 0px;
  font-family: "Nunito";
  font-size: 20px;
  font-weight: 300;

  @include mobile {
    font-size: calc(17px * $mobileCoeff);
  }
}

.map-search > input::placeholder {
  @include mobile {
    text-align: center;
  }
}

.map-search > input:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

.map-search > input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  content: URL(../image/map_search_cross.svg);
  cursor: pointer;
 }

.map-search > button {
  width: 23px;
  height: 23px;
  border: 0px;
  padding: 0px;
  margin-left: 9px;
  margin-right: 9px;
  background-color: transparent;

  @include mobile {
    width: calc(12px * $mobileCoeff);
    height: calc(12px * $mobileCoeff);
    margin-left: calc(10px * $mobileCoeff);
    margin-right: calc(10px * $mobileCoeff);
  }
}

.map-search > button > svg {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.map-baloon {
  display: flex;
  flex-direction: column;
  width: 108px;
  height: 128px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: "Nunito";
}

.map-baloon-header {
  margin-left: 28px;
  border-radius: 0px 10px 0px 10px;
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 6px;
}

[data-type="warehouse"].map-baloon > .map-baloon-header {
  background-color: #f84777;
}

[data-type="city"].map-baloon > .map-baloon-header {
  background-color: #33cc99;
}

[data-type="soon"].map-baloon > .map-baloon-header {
  background-color: #838383;
}

.map-baloon-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin: 10px;
}

.map-baloon-body-h1 {
  color: #462D71;
  font-size: 12px;
  font-weight: 700;
}

.map-baloon-body-address {
  font-size: 6px;
}

.map-baloon-body-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #462D71;
  font-size: 8px;
}

.map-baloon-body-link > svg {
  width: 8px;
  height: 8px;
  margin-right: 6px;
}

.map-baloon-body-link > a:link {
  color: #462D71;
  text-decoration: none;
}

.map-baloon-body-link > a:hover {
  color: #462D71;
}

.map-baloon-body-days {
  color: #242424;
  font-size: 8px;
  font-weight: 600;
}

.map-baloon-body-time {
  font-size: 8px;
}