$mobileMaxWidth: 767px;

$desktopCoeff: calc(100vw / 1440px);
$mobileCoeff: calc(100vw / 390px);


@mixin mobile{
  @media (max-width: $mobileMaxWidth) {
    @content;
  }
}

[class*=copyright] {
  display: none;
}

.section-map {
  display: grid;
  grid-template-columns: 48% 1fr;
  grid-template-rows: calc(130px * $desktopCoeff) 1fr calc(90px * $desktopCoeff);

  width: 100vw;
  height: calc(660px * $desktopCoeff);

  @include mobile {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr calc(170px * $mobileCoeff);
    height: calc(500px * $mobileCoeff);
  }
}

.map-hint {
  grid-area: 1 / 1 / 2 / 2;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0px 0px calc(180px * $desktopCoeff) 0px;
  background-color: #33cc99;
  font-family: "Nunito";
  color: white;

  @include mobile {
    display: none;
  }
}

.map-hint-header {
  margin: 0px 0px calc(5px * $desktopCoeff) calc(168px * $desktopCoeff);
  font-size: calc(36px * $desktopCoeff);
  font-weight: 600;
}

.map-hint-body {
  margin: calc(5px * $desktopCoeff) 0px 0px calc(168px * $desktopCoeff);
  font-size: calc(20px * $desktopCoeff);
}

.map-container {
  grid-area: 1 / 1 / 4 / 3;

  @include mobile {
    grid-area: 1 / 1 / 2 / 2;
  }
}

.map-control-base {
  width: calc(348px * $desktopCoeff);
  height: calc(40px * $desktopCoeff);
  border: 0px;
  border-radius: calc(10px * $desktopCoeff);
  box-shadow: calc(5px * $desktopCoeff) calc(5px * $desktopCoeff) calc(10px * $desktopCoeff) rgba(37, 47, 52, 0.14);

  @include mobile {
    width: calc(330px * $mobileCoeff);
    height: calc(30px * $mobileCoeff);
    border-radius: calc(133px * $mobileCoeff);
    box-shadow: none;

  }
}

.map-controls {
  grid-area: 3 / 1 / 4 / 3;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;

  @include mobile {
    grid-area: 2 / 1 / 3 / 2;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    // padding-top: calc(15px * $mobileCoeff);
    // padding-bottom: calc(15px * $mobileCoeff);
    background-color: #462D71;
  }
}

.control {
  @extend .map-control-base;

  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: calc(15px * $desktopCoeff);
  padding: 0px;
  background-color: white;
  font-family: "Nunito";
  font-size: calc(20px * $desktopCoeff);

  @include mobile {
    margin: 0px;
    font-size: calc(17px * $mobileCoeff);
    font-weight: 700;
  }

}

.control.active {
  color: white;
}

.control > img {
  width: calc(20px * $desktopCoeff);
  height: calc(20px * $desktopCoeff);
  margin-left: calc(10px * $desktopCoeff);
  cursor: pointer;
  pointer-events: none;

  @include mobile {
    width: calc(14px * $mobileCoeff);
    height: calc(14px * $mobileCoeff);
    margin-left: calc(8px * $mobileCoeff);
  }
}

.control > span {
  margin: auto;
  cursor: pointer;
  pointer-events: none;
}

.control.active > img {
  visibility: hidden;
}

button[data-type="warehouse"].control.active {
  background: #f84777;
}

button[data-type="city"].control.active {
  background: #33cc99;
}

button[data-type="soon"].control.active {
  background: #838383;
}

.map-search {
  @extend .map-control-base;

  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;

}

// .map-search.desktop {
//   @include mobile {
//     display: none !important;
//   }
// }

// .map-search.mobile {
//   display: none;

//   @include mobile {
//     display: flex;
//   }
// }

.map-search > input {
  flex-grow: 1;
  height: 100%;
  border: 0px;
  border-radius: inherit;
  margin-right: calc(14px * $desktopCoeff);
  padding: 0px;
  font-family: "Nunito";
  font-size: calc(20px * $desktopCoeff);
  font-weight: 300;

  @include mobile {
    font-size: calc(17px * $mobileCoeff);
  }
}

.map-search > input::placeholder {
  @include mobile {
    text-align: center;
  }
}

.map-search > input:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

.map-search > input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  content: URL(../image/map_search_cross.svg);
  cursor: pointer;
 }

.map-search > button {
  width: calc(23px * $desktopCoeff);
  height: calc(23px * $desktopCoeff);
  border: 0px;
  padding: 0px;
  margin-left: calc(9px * $desktopCoeff);
  margin-right: calc(9px * $desktopCoeff);
  background-color: transparent;

  @include mobile {
    width: calc(12px * $mobileCoeff);
    height: calc(12px * $mobileCoeff);
    margin-left: calc(10px * $mobileCoeff);
    margin-right: calc(10px * $mobileCoeff);
  }
}

.map-search > button > svg {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

// Балуны меток трогать по минимуму, т.к. размер регулируется картами
.map-baloon {
  display: flex;
  flex-direction: column;
  width: 108px;
  height: 128px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: "Nunito";
}

.map-baloon-header {
  margin-left: 28px;
  border-radius: 0px 10px 0px 10px;
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 6px;
}

[data-type="warehouse"].map-baloon > .map-baloon-header {
  background-color: #f84777;
}

[data-type="city"].map-baloon > .map-baloon-header {
  background-color: #33cc99;
}

[data-type="soon"].map-baloon > .map-baloon-header {
  background-color: #838383;
}

.map-baloon-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin: 10px;
}

.map-baloon-body-h1 {
  color: #462D71;
  font-size: 12px;
  font-weight: 700;
}

.map-baloon-body-address {
  font-size: 6px;
}

.map-baloon-body-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #462D71;
  font-size: 8px;
}

.map-baloon-body-link > svg {
  width: 8px;
  height: 8px;
  margin-right: 6px;
}

.map-baloon-body-link > a:link {
  color: #462D71;
  text-decoration: none;
}

.map-baloon-body-link > a:hover {
  color: #462D71;
}

.map-baloon-body-days {
  color: #242424;
  font-size: 8px;
  font-weight: 600;
}

.map-baloon-body-time {
  font-size: 8px;
}